<div class = "form-wrapper">

  <h3>スケジュール新規作成</h3>
  
  <%= render "shared/error", obj: @task %>
  
  <%= form_with(model: @task) do |f| %>
    <table>
      <tr>
        <th><%= f.label :name ,"タイトル" %></th>
        <td><%= f.text_field :name, class:"except_memo" %></td>
      </tr>
      <tr>
        <th><%= f.label :begin ,"開始日	" %></th>
        <td><%= f.date_field :begin, class:"except_memo" %></td>
      </tr>
      <tr>
        <th><%= f.label :end ,"終了日" %></th>
        <td><%= f.date_field :end, class:"except_memo" %></td>
      </tr>
      <tr>
        <th><%= f.label :allday ,"終日" %></th>
        <td><%= f.check_box :allday %></br>終日の場合はチェックを入れます</td>
      </tr>
      <tr>
        <th><%= f.label :memo ,"スケジュールメモ" %></th>
        <td><%= f.text_area :memo, class:"text_memo" %></td>
      </tr>
    </table>
    <div>
      <p class="submit_button"><%= f.submit "スケジュールを新規登録する"%></p>
      <p><%= link_to "スケジュール情報一覧に戻る", :tasks %></p>
    </div>
  <% end %>
  
</div>